<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journals</title>
</head>
<body>
    <h1>Journals for <span th:text="${user.username}"></span></h1>
    <article th:each="journal : ${user.journals}">
        <p style="width:30vw;padding:1rem;border:dashed 1px gray;">
            <span th:text="${journal.id}"></span>&nbsp;
            <span th:text="${journal.entry}"></span>
        </p>
    </article>
    <section>
        <form th:action="@{/journals}" method="post">
            <textarea name="entry"></textarea>
            <button>add entry</button>
        </form>
    </section>
    <nav th:replace="nav.html :: nav"></nav>
</body>
</html>