<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journals</title>
</head>
<body>
    <h1>Journals for <span>user</span></h1>
    <h2><span th:text="${users.size()}"></span> journals</h2>
    <section th:each="user: ${users}">
        <h2 th:text="${user.username}"></h2>
        <article th:each="journal : ${user.journals}">
            <p style="width:30vw;">
                <span th:text="${journal.id}"></span>&nbsp;
                <span th:text="${journal.entry}"></span>
            </p>
        </article>
    </section>
    <nav th:replace="nav.html :: nav"></nav>
</body>
</html>